.container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    & {
      width: 620px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      width: 960px;
    }
  }
}
