.contacts {
  text-align: center;
}

.contacts__list {
  @include list-clear;
}

.contacts__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $color-light-blue;
  margin: 0;
  margin-bottom: 33px;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: $color-light-blue;
  margin: 0;
}

.contacts__item {
  margin-bottom: 18px;
}

.contacts__link {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $color-pink;
  text-decoration: none;
}

.contacts__map {
  position: relative;
}

.contacts__map::after {
  content: "";
  height: 155px;
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  clip-path: polygon(48% 25%, 0 0, 100% 0);
  background: $color-white;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 64px;
  }

  .contacts__text {
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__text {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }
}
