.efficiency {
  @media (min-width: $mobile-width) {
    & {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    & {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      background: $color-silver;
    }
  }
}

.efficiency__container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 95px 0 52px;

  @media (min-width: $tablet-width) {
    & {
      background-image: url("../img/efficiency-images.svg");
      background-repeat: no-repeat;
      background-position: left;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      padding: 113px 0 52px;
      background-image: url("../img/efficiency-images-desktop.svg");
      background-position: 11px 21px;
    }
  }
}

.efficiency__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $color-black;
  margin: 0;
  width: 167px;

  @media (min-width: $desktop-width) {
    & {
      line-height: 36px;
      width: 300px;
    }
  }
}

.efficiency__images {
  display: block;

  @media (min-width: $desktop-width) {
    & {
      width: 298px;
      height: auto;
      position: relative;
      bottom: 14px;
      left: 9px;
    }
  }
}

.efficiency__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-light-blue;
  margin: 10px 0;
  padding-right: 10px;

  @media (min-width: $desktop-width) {
    & {
      font-size: 18px;
      line-height: 30px;
      margin: 20px 0 30px;
    }
  }
}

.efficiency__description {
  width: 310px;
  padding: 0 0 17px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    & {
      width: 570px;
      padding: 0 12px 62px;
    }
  }
}

.efficiency__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-pink;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    & {
      font-size: 18px;
      line-height: 30px;
    }
  }

  &:hover {
    color: $color-black;
  }

  &:active {
    opacity: 0.3;
    text-decoration: none;
  }
}
