.features {
  background: $color-silver;
  padding: 64px 20px 0;
  text-align: center;
  position: relative;
}

.features::after {
  content: "";
  display: block;
  height: 278px;
  background: url("../img/features-phone-mobile1x.png") 50% 0 no-repeat;

  @media (min-width: $tablet-width) {
    & {
      content: "";
      position: absolute;
      left: 18px;
      top: -51px;
      display: block;
      height: 480px;
      width: 270px;
      background: url("../img/features-phone-screen-tablet@1x.png") 50% 0 no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      display: none;
    }
  }
}

.features__list {
  @include list-clear;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) and (max-width: 1199px) {
    & {
      align-items: flex-end;
      text-align: left;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      display: grid;
      grid-template-columns: 240px 240px 240px;
      column-gap: 82px;
      row-gap: 163px;
    }
  }
}

.features__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $color-black;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $desktop-width) {
    & {
      font-size: 30px;
      line-height: 30px;
      width: 238px;
      margin: 0 auto;
    }
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-light-blue;

  @media (min-width: $desktop-width) {
    & {
      font-size: 18px;
      line-height: 30px;
      margin: 21px auto;
      width: 238px;
    }
  }
}

.features__item {
  margin-top: -11px;
  margin-bottom: 26px;
  width: 280px;

  @media (min-width: $tablet-width) {
    & {
      margin-top: -45px;
      margin-bottom: 63px;
      width: 311px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      margin-top: -164px;
      margin-bottom: 0;
      padding-top: 358px;
    }
  }
}

.features__item:last-child {
  margin-bottom: 27px;
}

.features__item--1 {
  @media (min-width: $desktop-width) {
    & {
      background: url("../img/iphone-screen-1-desktop@1x.png") 52% 1px no-repeat;
    }
  }
}

.features__item--2 {
  @media (min-width: $desktop-width) {
    & {
      background: url("../img/iphone-screen-2-desktop@1x.png") 68% 0 no-repeat;
    }
  }
}

.features__item--3 {
  @media (min-width: $desktop-width) {
    & {
      background: url("../img/iphone-screen-3-desktop@1x.png") 74% 0 no-repeat;
    }
  }
}
