.form-information__contacts-item--phone::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    display: block;
    width: 58px;
    height: 58px;
    top: 2px;
    right: 2px;
    background-image: url("../img/form-icon-phone.svg");
    background-repeat: no-repeat;
    background-color: $color-light-gray;
    background-position: center;
  }
}

.form-information__contacts-item--mail::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    display: block;
    width: 58px;
    height: 58px;
    top: 2px;
    right: 2px;
    background-image: url("../img/form-icon-mail.svg");
    background-repeat: no-repeat;
    background-color: $color-light-gray;
    background-position: center;
  }
}

.form-information__fieldset-contacts {
  @media (min-width: $tablet-width) {
    padding: 0 58px;
  }
}

.form-information__legend-contacts {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form-information__contacts-wrapper {
  padding: 32px 20px 26px;

  @media (min-width: $tablet-width) {
    order: -3;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 940px;
    padding-top: 6px;
  }
}

.form-information__list-contacts {
  @media (min-width: $tablet-width) {
    padding: 12px 0 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-information__contacts-item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 375px;
    margin-bottom: 7px;
  }
}

.form-information__label-contacts {
  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }
}
