.form-page__form-information {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 960px;
    margin: 0 auto;
  }
}

.form-information__fieldset {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $mobile-width) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    border: 2px solid $color-light-gray;
  }
}

.form-information__list {
  @include list-clear;
  position: relative;
}

.form-information__item {
  display: flex;
  flex-direction: column;
}

.form-information__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-pink;
  display: block;
  padding-left: 23px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 19px;
  }
}

.form-information__input {
  width: 100%;
  height: 62px;
  border: 2px solid $color-light-gray;
  border-radius: 1px;
  box-sizing: border-box;
  padding: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
  color: $color-light-blue;
  cursor: pointer;

  &:hover {
    border-color: $color-dark-blue;
  }
}

.form-information__legend {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-pink;
  text-transform: uppercase;
  padding: 0 25px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}
