.form-page__title-wrapper {
  min-height: 210px;
  padding: 0 20px;
  background: url("../img/back-mobile.jpg") no-repeat;
}

.form-page__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $color-white;
  text-align: center;
  padding-top: 91px;
}
