.form-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 29px;
  background-color: $color-silver;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 60px 57px 80px;
  }
}

.form-photo__image {
  display: block;
  box-sizing: border-box;
  width: 280px;
  height: 374px;
  background-image: url("../img/photo-road-mobile@1x.jpg");
  background-position: 50% 0;
  background-size: image-size("../img/photo-road-mobile@1x.jpg");
  background-repeat: no-repeat;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
    width: 300px;
    height: 400px;
    background-image: url("../img/photo-road-tablet@1x.jpg");
    background-size: image-size("../img/photo-road-tablet@1x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    background-image: url("../img/photo-road-desktop@1x.jpg");
    background-size: image-size("../img/photo-road-desktop@1x.jpg");
  }
}

.form-photo__controls {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 48px;
    width: 275px;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    width: 410px;
    margin-left: 88px;
  }
}

.form-photo__filters {
  padding: 42px 20px 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 145px;
  }
}

.form-photo__filters-buttons {
  display: flex;
  justify-content: space-around;
  width: 240px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-photo__filter-range {
  appearance: none;
  padding: 0;
  margin: 0 0 0 auto;
  width: 100%;
  height: 2px;
  background-color: $color-black;

  @media (min-width: $tablet-width) {
    width: 74%;
    position: relative;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 70%;
    position: relative;
    right: 31px;
  }
}

.form-photo__filter-range::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: $color-white;
  border-radius: 50%;
  border: 2px solid $color-pink;
  cursor: pointer;

  &:hover {
    background-color: $color-pink;
  }
}

.form-photo__filter-range::-moz-range-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: $color-white;
  border-radius: 50%;
  border: 2px solid $color-pink;
  cursor: pointer;

  &:hover {
    background-color: $color-pink;
  }
}

.form-photo__icon {
  display: block;
  pointer-events: none;
  fill: $color-light-blue;
  opacity: 0.3;

  &:hover {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    opacity: 1;
  }

  &--crop {
    @media (min-width: $tablet-width) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 44px;
      height: 44px;
    }
  }

  &--fill {
    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }

    @media (min-width: $desktop-width) {
      width: 48px;
      height: 48px;
    }
  }

  &--contrast {
    @media (min-width: $tablet-width) {
      width: 16px;
      height: 16px;
    }

    @media (min-width: $desktop-width) {
      width: 32px;
      height: 32px;
    }
  }
}

.form-photo__icon-wrapper {
  display: none;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 27px;
    height: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 48px;
  }

  & .form-photo__icon {
    fill: $color-pink;
  }
}

.form-photo__filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  width: 48px;
  height: 48px;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &--current .form-photo__icon {
    fill: $color-pink;
    opacity: 1;
  }

  &:focus {
    outline: 1px solid $color-pink;
  }
}

.form-photo__filter {
  position: relative;
  display: none;
  align-items: center;
  height: 72px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: calc(100% + 20px * 2);
    height: 1px;
    background-color: $color-light-gray;

    @media (min-width: $tablet-width) {
      left: 0;
      width: 100%;
    }
  }

  &--current {
    display: flex;
  }
}

.form-photo__buttons {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}

.form-photo__button {
  margin-bottom: 13px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 45%;
  }
}
