.form-information__fieldset-name {
  border: none;
}

.form-information__name-wrapper {
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    order: -5;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 434px;
    padding: 15px 9px 0 10px;
    margin: 0;
  }
}

.form-information__name-item {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
  }
}

.form-information__label-name {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 10px;
    margin-right: 18px;
  }
}
