.form-photo {
  background: $color-silver;
  padding: 20px;
}

.form-photo__button {
  border: none;
  background: none;
}

.form-photo__controls-submit {
  display: flex;
  flex-direction: column;
}

.form-photo__submit {
  border: 3px solid $color-pink;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $color-pink;
  font-family: inherit;
  padding: 15px 74px;
  max-width: 280px;
  margin-bottom: 10px;
}

.form-photo__reset {
  opacity: 0.1;
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: inherit;
  padding: 15px 74px;
  max-width: 280px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $color-light-blue;
}

.form-photo__controls-button {
  display: flex;
  justify-content: space-evenly;
}
