.form-information__achievement-item {
  margin-bottom: 52px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 281px;
    margin-bottom: 0;
  }
}

.form-information__list-achievement {
  @media (min-width: $tablet-width) {
    padding: 22px 0 54px 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 54px;
    padding: 24px 0 58px 51px;
  }
}

.form-information__fieldset-achievement {
  @media (min-width: $desktop-width) {
    width: 940px;
    margin-left: 10px;
  }
}

.form-information__achievement-wrapper {
  background: $color-silver;
  padding: 30px 0 23px;

  @media (min-width: $tablet-width) {
    background: $color-white;
  }
}

.form-information__checkbox-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-light-blue;
  margin-left: 60px;

  @media (min-width: $desktop-width) {
    margin-left: 67px;
  }
}

.form-information__checkbox-custome {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -4px;
  left: 0;
  border: 2px solid $color-light-gray;
  border-radius: 1px;
  background: $color-white;

  @media (min-width: $desktop-width) {
    top: -6px;
    left: 9px;
  }
}

.form-information__checkbox[type="checkbox"]:checked + .form-information__checkbox-custome {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 60% 49%;
}
