.form-information__platform-wrapper {
  padding: 33px 20px 45px;
  background: $color-silver;

  @media (min-width: $tablet-width) {
    background: $color-white;
    order: -4;
    padding: 8px 20px 25px;
  }

  @media (min-width: $desktop-width) {
    width: 434px;
    padding: 2px 10px 0 10px;
  }
}

.form-information__platform-item {
  position: relative;
  margin-bottom: 44px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-information__list-platform {
  @media (min-width: $tablet-width) {
    padding: 25px 0 57px 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 0 60px 71px;
  }
}

.form-information__radio-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-light-blue;
  margin-left: 69px;

  @media (min-width: $tablet-width) {
    margin-left: 62px;
  }
}

.form-information__radio-custome {
  width: 37px;
  height: 37px;
  position: absolute;
  border-radius: 50%;
  top: -8px;
  left: 0;
  border: 2px solid $color-light-gray;
  background: $color-white;
  cursor: pointer;

  &:hover {
    border-color: $color-black;
  }

  &:active {
    border-color: $color-pink;
  }
}

.form-information__radio[type="radio"]:checked + .form-information__radio-custome {
  background-image: url("../img/Ellipse-small.svg");
  background-repeat: no-repeat;
  background-position: 50% 49%;
}

.form-information__radio[type="radio"]:focus + .form-information__radio-custome {
  border: 2px solid $color-black;
}

.form-information__fieldset-platform {
  @media (min-width: $desktop-width) {
    width: 430px;
  }
}
