.gallery {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 39px;
  }
}

.gallery__photo-wrapper {
  margin: 20px auto -20px;
  padding: 0 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 46px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
    width: 940px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__photo {
  margin: 0 0 20px 0;

  @media (min-width: $desktop-width) {
    margin: 0 0 54px 0;
  }
}
