.main-header__logo-images--visible-phone {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__logo-images--visible-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__logo-images--visible-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main-header__logo-images {
  &:hover {
    fill: $color-pink;
    transition: 0.3s;
  }

  &:active {
    fill: $color-white;
    opacity: 0.3;
  }
}
