.main-navigation__menu {
  display: flex;
  justify-content: space-between;
  padding: 21px;
  background: $color-light-blue;
  box-sizing: border-box;
}

.main-navigation--closed-menu {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 0 $color-black;
}

.main-navigation__list {
  @include list-clear;
  text-align: center;
}

.main-navigation__list--closed {
  display: none;
}

.main-navigation__item {
  background: $color-light-blue;
  border-top: 1px solid $color-black;
  box-shadow: 0 1px 0 $color-black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.main-navigation__link {
  display: block;
  padding: 16px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 31px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
}

.main-navigation__toogle {
  background: none;
  border: none;
  padding: 0;
}

.main-navigation__toogle-images {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-navigation__menu {
    min-height: 110px;
    padding: 27px 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    display: flex;
    padding: 0 20px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-navigation__menu {
    padding: 35px 25%;
  }

  .main-navigation__toogle {
    display: none;
  }
}
