.modal-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background-color: $color-white;
  text-align: center;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 5px;

  &--success {
    display: none;

    @media (min-width: $tablet-width) {
      width: 460px;
    }

    @media (min-width: $desktop-width) {
      width: 780px;
    }
  }

  &--failure {
    display: none;

    @media (min-width: $tablet-width) {
      width: 460px;
    }

    @media (min-width: $desktop-width) {
      width: 780px;
    }
  }
}

.modal-form__top {
  padding: 23px 20px 24px 20px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 160px;
    padding-right: 160px;
  }

  &--failure {
    padding-top: 19px;
    padding-bottom: 16px;

    @media (min-width: $tablet-width) {
      padding-left: 80px;
      padding-right: 80px;
    }

    @media (min-width: $desktop-width) {
      padding: 26px 190px 56px 190px;
    }
  }
}

.modal-form__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal-form__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  color: $color-light-blue;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  &--success {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.modal-form__bottom {
  padding: 48px 20px 52px 20px;

  @media (min-width: $tablet-width) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 160px;
    padding-right: 160px;
  }

  &--success {
    background-color: $color-silver;
  }

  &--failure {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: $color-white;

    @media (min-width: $tablet-width) {
      padding-top: 15px;
      padding-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      background-color: $color-silver;
      padding: 52px 240px 52px 240px;
    }
  }
}
