.page {
  height: 100%;
  font-size: 18px;
  font-family: $font-family;
  line-height: 27px;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: $mobile-width;
}

.page__body {
  min-height: 100%;
  background-color: $color-white;
  margin: 0;
  color: $color-black;
  min-width: 320px;
}

.page__title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-light-blue;
  text-align: center;
  padding: 89px 0 34px;

  @media (min-width: $tablet-width) {
    width: 500px;
    margin: 0 auto;
    font-size: 18px;
    padding: 151px 0 72px;
  }

  @media (min-width: $desktop-width) {
    width: 759px;
    margin: 0 auto;
    font-size: 18px;
    padding: 176px 0 72px;
  }
}

@media (max-width: 659px) {
  .page__title__hidden-mobile {
    display: none;
  }
}

.page__title-catalog {
  padding: 122px 35px 34px;

  @media (min-width: $tablet-width) {
    padding: 217px 35px 37px;
  }

  @media (min-width: $desktop-width) {
    width: 577px;
    padding: 179px 0 50px;
  }
}

.page__title--filter {
  padding: 41px 1px 41px;

  @media (min-width: $tablet-width) {
    padding: 64px 0 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 0 67px;
  }
}
