.price {
  background: $color-silver;
  position: relative;
  overflow: hidden;
}

.price__table {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 98px 0;

  @media (max-width: $mobile-width) {
    position: relative;
    right: 138px;
  }
}

.price__item {
  position: relative;
  overflow: hidden;
  min-width: 233px;

  @media (max-width: $mobile-width) {
    min-width: 280px;
  }

  @media (min-width: $tablet-width) and (max-width: 1190px) {
    min-width: 155px;
  }
}

.price__item--hit::before {
  content: "";
  width: 135px;
  height: 21px;
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  top: 11px;
  z-index: 1;
  left: -28px;
  transform: rotate(-45deg);
  text-align: center;
  text-transform: uppercase;
  background-color: #d22856;
  color: #ffffff;
}

.price__item--hit::after {
  content: "ХИТ";
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  top: 15px;
  z-index: 1;
  left: 17px;
  transform: rotate(-45deg);

  color: #ffffff;
}

.price__content-list {
  @include list-clear;
}

.price__content-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-light-blue;
  border: 1px solid $color-light-gray;
  padding: 15px;
  background: $color-white;

  @media (max-width: $mobile-width) {
    text-transform: uppercase;
    padding: 14px 20px;
  }

  @media (min-width: $tablet-width) and (max-width: 1190px) {
    padding: 8px 9px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.price__title {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $color-white;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price__cost {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: $color-white;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price__header {
  background: $color-light-blue;
  padding: 20px 0;
  border-right: 2px solid $color-light-gray;

  @media (min-width: $tablet-width) and (max-width: 1190px) {
    padding: 8px 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 233px;
  }
}

.price__content-item--check {
  background: url("../../img/price-check.svg") no-repeat;
  background-color: $color-white;
  background-position: 50%;

  @media (min-width: $tablet-width) {
    font-size: 0;
  }

  @media (max-width: 659px) {
    background-position: 92%;
  }
}

.price__content-item--uncheck {
  background: url("../../img/price-uncheck.svg") no-repeat;
  background-color: $color-white;
  background-position: 50%;

  @media (min-width: $tablet-width) {
    font-size: 0;
  }

  @media (max-width: 659px) {
    background-position: 92%;
  }
}
