.product {
  position: relative;

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      z-index: 1;
      top: -109px;
      height: calc(100% + 120px);
      background: url("../img/back-desktop@1x.jpg") no-repeat top left;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background: url("../img/back-desktop@2x.jpg") no-repeat top left;
      }
    }

    &::after {
      content: "";
      width: 1050px;
      height: 645px;
      display: block;
      position: absolute;
      bottom: -11px;
      left: 50%;
      transform: translateX(-43%);
      background: url("../img/hand-desktop@1x.png") no-repeat top left;
      z-index: 1;

      @media (min-resolution: 2dppx) {
        background: url("../img/hand-desktop@2x.png") no-repeat top left;
      }
    }
  }
}

.product__container {
  background: $color-dark-blue;

  @media (min-width: $tablet-width) {
    & {
      position: relative;
      padding-bottom: 80px;
    }

    &::before {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      z-index: 1;
      top: -110px;
      height: calc(100% + 110px);
      background: $color-dark-blue url("../img/back-tablet@1x.jpg") no-repeat top left;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background: $color-dark-blue url("../img/back-tablet@2x.jpg") no-repeat top left;
      }
    }

    &::after {
      content: "";
      width: 700px;
      height: 545px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 53%;
      transform: translateX(-50%);
      background: url("../img/hand-tablet@1x.png") no-repeat top left;
      z-index: 1;

      @media (min-resolution: 2dppx) {
        background: url("../img/hand-tablet@2x.png") no-repeat top left;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      width: 960px;
      margin: 0 auto;
    }
  }
}

.product__title {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $color-white;
  position: relative;
  z-index: 5;

  @media (min-width: $tablet-width) {
    & {
      font-size: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      font-size: 50px;
      line-height: 68px;
    }
  }
}

.product__text-container {
  position: relative;
  padding: 23px 20px 316px;

  @media (min-width: $tablet-width) {
    & {
      padding: 95px 52px 31px;
      width: 236px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      padding: 98px 41px 31px;
    }
  }
}

.product__text-container::before {
  content: "";
  width: 100%;
  height: calc(100% + 66px);
  display: block;
  position: absolute;
  top: -66px;
  left: 0;
  background: $color-dark-blue url("../img/back-mobile@1x.jpg") no-repeat top left;
  background-size: cover;
  z-index: 1;

  @media (min-width: $mobile-width) and (min-resolution: 2dppx) {
    background: $color-dark-blue url("../img/back-mobile@2x.jpg") no-repeat top left;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product__text-container::after {
  content: "";
  width: 256px;
  height: 290px;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 40%;
  transform: translateX(-50%);
  background: url("../img/hand-mobile@1x.png") no-repeat top left;
  z-index: 1;

  @media (min-width: $mobile-width) and (min-resolution: 2dppx) {
    background: url("../img/hand-mobile@2x.png") no-repeat top left;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product__download {
  background: $color-dark-blue;
  padding: 28px 20px 17px;

  @media (min-width: $tablet-width) {
    & {
      position: relative;
      z-index: 10;
      background: transparent;
      width: 300px;
      padding: 0 20px 17px;
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      background: transparent;
      width: 300px;
      padding: 7px 10px 16px;
    }
  }
}

.product__button {
  border-color: $color-white;
  color: $color-white;

  &:hover {
    background: $color-white;
    color: $color-pink;
    border-color: $color-white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.product__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $color-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    & {
      font-size: 18px;
    }
  }
}

.product__list {
  @include list-clear;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 30px 0 16px;

  @media (min-width: $tablet-width) {
    & {
      margin: 45px 0 25px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      margin: 72px 0 44px;
    }
  }
}
